@using dougnlamb.budget.models;
@model IUserViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row top-margin-md">
    <div class="col-md-4">
        <div class="card">
            <div class="card form-header red">
                <h3><i class="fa fa-lock"></i> My Info</h3>
            </div>
            <div class="card-block">
                <dl>
                    <dt>User Name</dt>
                    <dd>@Model.UserId</dd>
                    <dt>Name</dt>
                    <dd>@Model.DisplayName</dd>
                    <dt>E-mail</dt>
                    <dd>@Model.Email</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card form-header blue">
                <h3><i class="fa fa-lock"></i> Accounts</h3>
            </div>
            <div class="card-block">
                <ul>
                    @foreach (IAccountViewModel mdl in Model.Accounts) {
                        <li>@Html.ActionLink("Add", "Create", "Transaction", new { accountId = mdl.oid }, null) : 
                            @Html.ActionLink(mdl.Name, "View", "Account", new { accountId = mdl.oid }, null) : 
                            @Html.DisplayFor(m => mdl.Balance)</li>
                    }
                </ul>

                @Html.ActionLink("Add Account", "Create", "Account")
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card form-header green">
                <h3><i class="fa fa-lock"></i> Budgets</h3>
            </div>
            <div class="card-block">
                <ul>
                    @foreach (IBudgetViewModel mdl in Model.Budgets) {
                        <li>@Html.ActionLink("Add", "AddBudgetItem", "Budget", new { budgetId = mdl.oid }, null) : 
                            @Html.ActionLink(mdl.Name, "View", "Budget", new { id = mdl.oid }, null)</li>
                    }
                </ul>

                @Html.ActionLink("Add Budget", "Create", "Budget")
            </div>
        </div>
    </div>
</div>
